.headersection, .footersection {
    background: #ca932f none repeat scroll 0 0;
}
.icon a {
	background: #a56e0a none repeat scroll 0 0;
}
.searchbtn input[type="text"] {
	border: 1px solid #A56E0A;
	background: #FFE07C;
}
.searchbtn input[type="submit"] {
	border: 1px solid #9d6602;
}
input[type="submit"] {
	background: #b7801c none repeat scroll 0 0;
	border: 1px solid #e6af4b;
}
.searchbtn input[type="submit"]:hover {
    background: #b7801c none repeat scroll 0 0;
    border: 1px solid #e6af4b;
}
.navsection {
    background: none repeat scroll 0 0 #e6af4b;
}
.navsection ul li {
    border-left: 1px solid #fdc662;
    border-right: 1px solid #c18a26;
}
.samepost h2 a {
    color: #ac7511;
}
.maincontent {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #ded4c5;
}
.samepost img {
	border: 1px solid #ebb450;
}
.contentsection {
	border: 1px solid #ca932f;
}
.samesidebar h2 {
	background: #e6af4b none repeat scroll 0 0;
	border-bottom: 2px solid #b7801c;
}
.sidebar {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #ded4c5;
}
.readmore a {
	border: 1px solid #b7801c;
	color: #b7801c;
}
.readmore a:hover {
    color: #E16525;
}
.pagination a {
	background: #e6af4b;
	border: 1px solid #a7700c;
}
.pagination a:hover {
	background: #be8723;
	color: #fff;
}
.footermenu ul li a {
	color: #E6AF4B;
}
.samepost h2, .about h2 {
	border-bottom: 2px solid #e0d6c7;
	color: #ac7511;
}
.relatedpost h2 {
	background: #e6af4b none repeat scroll 0 0;
	border-bottom: 2px solid #b7801c !important;
}
.about img {
	border: 1px solid #b7801c;
}
.popular img {
	border: 1px solid #f6bf5b;
}